:root {
  font-family: 'Manrope', 'Segoe UI', sans-serif;
  line-height: 1.45;
  font-weight: 500;
  font-synthesis: none;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  margin: 0;
  min-height: 100%;
}

body {
  min-width: 320px;
  color: #143615;
  background-color: #ffffff;
}
